{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="h-screen w-screen">
    <div class="flex flex-col">
        <div class="flex flex-col">
            <div class=" flex flex-row justify-between m-2">
                <div class="basis-[15rem] text-left">back to home page</div>
                <div class="flex-1 text-center">{{user.username}}</div>
                <div class="basis-[15rem] text-right">edit</div>
            </div>
            <div class="flex flex-col justify-center items-center  border p-4 border-2">
                <div class="h-[10rem] w-[10rem] border border-2 rounded-full object-center">
                    <img class='h-[10rem] w-[10rem] border border-2 rounded-full ' src="{{user.profile.profile_picture.url}}" alt="">
                </div>
                <div class="mt-4">
                    <h1>{{user.first_name}} {{user.last_name}}</h1>
                </div>
                <div class="m-3 pl-5">
                    <p><span>{{user.profile.age}} years old</span> | <span> {{user.email}} </span></p>
                </div>
            </div>
            

        </div>
        <div></div>
    </div>
</div>
<script>    
    const modal = new Modal(targetEl, options);
    const targetEl = document.getElementById('defaultModal');

    // options with default values
    const options = {
    placement: 'center',
    backdropClasses: 'bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40',
    onHide: () => {
        console.log('modal is hidden');
    },
    onShow: () => {
        console.log('modal is shown');
    },
    onToggle: () => {
        console.log('modal has been toggled');
    }
    };
    modal.show();

    // hide the modal
    modal.hide();

    modal.toggle();
</script>

{%endblock content%}